.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: .4rem;
  color: var(--green);
}

.main {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 83vh;
}

.songPlaying {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
}